body{
    background-color: bisque;
    color: brown;
    margin: 5px;
    padding: 2px;
    }
header,
footer{
text-align: right;
background-color: antiquewhite;
}
h2,h3,h4
{
color: rgb(237, 17, 61);
text-decoration-line:underline;
}
p
{
    text-align: right;
}